beautifulsoup4
boto3
botocore
camel-tools==1.5.0
google-api-core
google-cloud-documentai
google-generativeai
matplotlib
numpy
opencv-python
Pillow
protobuf
pycocotools
pydantic
pydantic-settings
pdf2image
requests
scikit-image
torch
torchaudio
torchvision
tqdm
weaviate-client
